{{define "journal-line"}}
<tr>
    <td>
        <select name="line_account_id" class="select select-sm w-full">
            <option value="">Select account</option>
            {{range .Accounts}}
            <option value="{{.ID}}">{{.Code}} - {{.Name}}</option>
            {{end}}
        </select>
    </td>
    <td>
        <input type="text" name="line_memo" placeholder="Memo" class="input input-sm w-full">
    </td>
    <td>
        <input type="number" name="line_debit" placeholder="0" class="input input-sm w-full font-mono" min="0">
    </td>
    <td>
        <input type="number" name="line_credit" placeholder="0" class="input input-sm w-full font-mono" min="0">
    </td>
    <td>
        <button type="button" class="btn btn-ghost btn-xs text-error" onclick="removeLine(this)">X</button>
    </td>
</tr>
{{end}}
